<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="TopNav">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <!--원래는 style 속성으로 정의를 했어야 했음
            하지만 부트스트랩에 내장된 css에 이미 스타일이 정의가 되어있기 때문에 클래스만 블러와준거임.
            부트스트랩의 사용 이점을 기억하자. 통일성과 편리함
            만약에 부트스트랩이 없었다면 스타일을 하나하나 써줘야 함.-->
        <a class="navbar-brand" href="/">Start Bootstrap</a>
        <th:block th:if="${session.isEmpty()}">
            <a th:href="@{/user/login.go}" th:text="로그인"></a>
        </th:block>
        <th:block th:if="${!session.isEmpty()}">
            <a href="#" class="nav-link" th:text="${session.UserData.user_nickname} + '님'"></a>
        </th:block>
        <th:block th:if="${!session.isEmpty()}">
            <a class="nav-link" th:href="@{/user/logout.do}" th:text="로그아웃"></a>
        </th:block>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/body/index}">Home</a></li>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="link" id="dropdownlink"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">게시판</a>

                    <ul class="dropdown-menu" aria-labelby="dropdownlink" >
                        <li th:scope="col">
                            <ul class="dropdown-item" th:each="list :*{getCategoryMenu}">
                                <a th:href="|@{/board/list}/*{list.category_code}|" th:text="*{list.category_name}"/>
                               <!--th:href="|@{/body/board/list}/*{list.category_code}|"
                               th:text="*{list.category_name}">카테고리-->
                            </ul>


                        <!--</li>
                        <li><a class="dropdown-item">정치</a></li>
                        <li><a class="dropdown-item">유머</a></li>
                        <li><a class="dropdown-item">자유</a></li>
                        <li><a class="dropdown-item">생활</a></li>
                        <li><a class="dropdown-item">공부</a></li>
                        <li><a class="dropdown-item">업무</a></li>
                        <li><a class="dropdown-item">취미</a></li>
                    </ul>-->
                </div>

                <th:block th:if="${session.isEmpty()}">
                    <li class="nav-item"><a class="nav-link" th:href="@{/user/register.go}">회원가입</a></li>
                </th:block>
                <th:block th:if="${session.isEmpty()}">
                    <li class="nav-item"><a class="nav-link" th:href="@{/user/nvregister.go}">네이버회원가입</a></li>
                </th:block>
                <th:block th:if="${!session.isEmpty()}">
                    <li class="nav-item"><a class="nav-link" th:href="@{/user/user_info.go}">회원정보 수정</a></li>
                </th:block>
                <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
            </ul>
        </div>
    </div>
</nav>
</th:block>
</html>