<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>


<body layout:fragment="content">


    <div class="container">
        <table class="board_detail">
            <colgroup>
                <col width="15%"/>
                <col width="35%"/>
                <col width="15%"/>
                <col width="35%"/>
            </colgroup>
            <caption>게시글 상세내용</caption>
            <tbody>
                <tr>
                    <th scope="row">글 번호</th>
                    <td th:text="${bInfoData.board_no}"></td>
                    <th scope="row">조회수</th>
                    <td th:text="${bInfoData.view_cnt}"></td>
                </tr>
                <tr>
                    <th scope="row">작성자</th>
                    <td th:text="${bInfoData.user_nickname}"></td>
                    <th scope="row">작성일</th>
                    <td th:text="${bInfoData.create_date}"></td>
                </tr>
                <tr>
                    <th scope="row">제목</th>
                    <td colspan="3">
                        <p th:text="${bInfoData.board_title}"></p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">내용</th>
                    <td colspan="4">
                        <p th:text="${bInfoData.board_contents}"></p>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>

</body>
</html>