<!DOCTYPE html>
<!--<%@ page import="com.example.toron.common.module.OutputJavaScriptModule" contentType=""%>-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">
<script src="http://code.jquery.com/jquery-latest.js"></script>

<body layout:fragment="content">
<h1>유저 회원가입 페이지</h1>
<form th:action="@{/user/register.do}" method="post" modelAttribute="userVO">
    <!--
    _USER_NAME		VARCHAR(100),
	_USER_NICKNAME	VARCHAR(30),
	_USER_ID		VARCHAR(100),
	_USER_PWD		VARCHAR(100),
	_USER_EMAIL		VARCHAR(300)
    -->

    <input id="user_name" name="user_name" placeholder="유저이름"><br/>

    <input id="user_nickname" name="user_nickname" placeholder="유저닉네임"><br/>

    <input id="user_id" name="user_id" placeholder="유저아이디"><br/>

    <input id="user_pwd" type="password" name="user_pwd" placeholder="패스워드"><br/><!--
    <div class="user_pwd_regex">
        <font id="chkNotice1" size="2"></font>
    </div><br/>-->

    <input id="user_pwd_chk" type="password" name="user_pwd_chk" placeholder="패스워드확인">
    <font id="chkNotice2" size="2"></font><br/>

    <!--<a><font size="2"/>  ****@****.com(co.kr, net, or.kr)양식에 맞출것. </a><br/>-->
    <input id="user_email" name="user_email" placeholder="유저이메일"><br/>

    <button type="submit">가입</button>


</form>

</body>

<th:block th:replace="fragments/footer :: Footer"></th:block>

</html>